@import "../../../assets/variables.scss";

.editorContainer {
  display: flex;
  flex-direction: column;
  width: 25rem;
  border: 2px solid $dark_grey;

  .header {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $dark_grey;
    .intro {
      background-color: $border_grey;
      color: white;
      font-weight: 500;
      padding: 0.5rem;
    }

    .parcelInfo {
      background-color: white;
      display: flex;
      gap: 1rem;
      padding: 1rem;
      .parcelRegion {
        color: $green;
        font-weight: 600;
        font-size: 1.125rem;
      }

      .parcelNumber {
        color: $border_grey;
        font-weight: 600;
        font-size: 1.125rem;
      }
    }
  }

  .layers {
    display: flex;
    flex-direction: column;

    .buttons {
      display: flex;
    }

    .items {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
    }
  }
}

.additionModalBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 0;
  .inputs {
    display: flex;
    width: 90%;
    gap: 1rem;
    margin: 2rem 0 1rem 0;
    justify-content: space-around;
    .surfaceTypeSelection{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
      .currentColorContainer{
        width: 3rem;
        height: 3rem;
        border: 2px solid $border_grey;
      }

    }
    .surfaceOwnName{
      width: 100%;
    }
  }
  .buttons {
    display: flex;
    gap: 0.625rem;
  }
}
