@import "../../../assets/variables.scss";

.computationContainer {
  .singleRow {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .rowBaf {
    font-weight: 500;
  }

  .rowTotalArea {
    font-weight: 900;
  }

  .rowTotalBaf {
    font-weight: 900;
  }

  .totalBafContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .totalBafBox {
    margin-top: 20px;
    width: 400px;
    height: 150px;
    border: 2px solid $border_grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .totalBafLabel {
      margin: 0;
      margin-top: 2rem;
    }

    .totalBafValue {
      font-weight: 900;
      font-size: 38px;
    }
  }

  .totalBafUnderbox {
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    .bafInfo {
      margin: 0px;
      margin-left: 2px;
      margin-right: 2px;
      text-align: center;
    }
  }

  .totalBafUnderboxRed {
    background-color: $error_red;
    color: $white;
  }

  .totalBafUnderboxGreen {
    background-color: $dark_green;
    color: $white;
  }

  .totalBafUnderboxWhite {
    background-color: $white;
    color: $border_grey;
  }
}
