@import "../../../assets/variables.scss";

.computationContainer {
  .rowBaf {
    font-weight: 900;
  }

  .totalBafContainer {
    display: flex;
    justify-content: center;
  }

  .totalBafBox {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
