@import "../../../assets/variables.scss";

.bar {
  background-color: $white;
}

.hintsContainer {
  margin-top: 20px;
}

.hintIntro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeTab {
  color: $white;
}
