@import "../../../assets/variables.scss";

.css-1heib9t-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: white !important;
}

.hintsContainer {
  margin-top: 20px;
}

.hintIntro {
  display: flex;
  justify-content: center;
  align-items: center;
}
