@import "../assets/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");
.toast {
  font-family: "Jost", sans-serif !important;
  box-shadow: none;
  border: 2px solid $border_grey;
  border-radius: 0px !important;

  .Toastify__toast-body {
    font-family: "Jost", sans-serif !important;
    align-items: flex-end !important;
  }
}

.iconError {
  color: rgb(219, 29, 29);
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}

.iconInfo {
  color: rgb(29, 181, 219);
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}

.iconSuccess {
  color: rgb(98, 209, 54);
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}
