@import "../../assets/variables.scss";

.simpleCalculatorContainer {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  height: $body_height;
  max-height: $body_height;
}

.section {
  -webkit-box-shadow: 0px -6px 45px -30px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px -6px 45px -30px rgba(0, 0, 0, 1);
  box-shadow: 0px -6px 45px -30px rgba(0, 0, 0, 1);
  background-color: $light_gray;
  border-radius: 1rem;
  height: 95%;
  max-height: 95%;
}

.leftSection {
  width: 15%;
  margin-left: 0.5rem;
  margin-right: 1rem;
  min-width: 220px;
  max-width: 300px;
}

.middleSection {
  width: 70%;
}

.rightSection {
  width: 15%;
  margin-left: 1rem;
  margin-right: 0.5rem;
}
